# InfluxDB Configuration
INFLUXDB_USERNAME=type_influxdb_admin_username_here
INFLUXDB_PASSWORD=type_influxdb_admin_password_here
INFLUXDB_ORG=smarthouse
INFLUXDB_BUCKET=sensors

# Grafana Configuration
GRAFANA_USERNAME=type_grafana_admin_username_here
GRAFANA_PASSWORD=type_grafana_admin_password_here
INFLUXDB_GRAFANA_TOKEN=type_influxdb_grafana-read-data_token_here

# AWS SNS Configuration
AWS_ACCESS_KEY_ID=type_aws_sns_user_access_key_id_here
AWS_SECRET_ACCESS_KEY=type_aws_sns_user_secret_access_key_here
AWS_REGION=type_aws_region_here
AWS_SNS_TOPIC_ARN=type_your_grafana_alert_sns_topic_here

# Alert testing webhook url (i.e: from https://webhook.site)
WEBHOOK_URL=type_your_webhook_here