#ifndef SECRETS_H
#define SECRETS_H

// WiFi credentials
const char* WIFI_SSID = "type-your-wifi-ssid-here";
const char* WIFI_PASSWORD = "type-your-wifi-password-here";

// InfluxDB
const char* INFLUXDB_URL = "http://your_influxdb_ip_here:8086";
const char* INFLUXDB_TOKEN = "your_influxdb_token_here";
const char* INFLUXDB_ORG = "your_influxdb_organization_here";
const char* INFLUXDB_BUCKET = "your_influxdb_bucket_here";

#endif // SECRETS_H